html {
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    color: #1C1C1C;
    text-align: center;
    font-size: 56px;
}
.wrapper {
    background-color: #7FC7FF;
    min-height: 100vh;
}
.title {
    color: darkred;
    font-size: 64px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 60px 0;
}

.block {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.text {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.result {
    display: block;
    color: darkred;
    font-size: 22px;
}

.button,
.button:focus,
.button:visited {
    display: block;
    font-size: 18px;
    color: darkred;
    background: transparent;
    border: 2px solid darkred;
    border-radius: 4px;
    padding: 10px 20px;
    outline: none;
    transition: all 0.3s;
    margin: 0 auto 15px;
    cursor: pointer;
}

.button:hover {
    color: red;
    border-color: red;
}

.button:active {
    color: #b47c28;
    border-color: #b47c28;
}

